.movies {
  display: flex;
  flex-direction: row;
  width: 600px;
  margin: auto;
  padding-bottom: 20px;
}

.moviesInfo {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 70%;
}

.title {
  font-size: 2em;
}
